html,
body,
* {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Karla", sans-serif;
  --body-bg: #1e1f25;
  --btn-bg: #000;
  --btn-color: #cbcbcb;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;

  --jeopardy-blue: #060ce9;
  --font-color-main: #fff;
}

body {
  background-color: var(--body-bg);
}

div.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.98);
  margin: 50vh 0;
}

div.button-container:hover {
  transform: scale(1);
}

div.button-container:hover button {
  color: var(--btn-color-hover);
}

.button-border {
  background: linear-gradient(115deg, var(--grad-color3), var(--grad-color5));
  padding: 2px;
}

button.button {
  font-family: var(--font-family);
  background-color: var(--btn-bg);
  color: var(--btn-color);
  padding: 5px;
  border: none;
}

/* DAY 4: AI Christmas Joke Generator */
:root {
  --radius: 5px;
  --main-frame: 15px solid white;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("/xmas-bg3.png");
  background-size: cover;
  display: flex;
  height: 100vh;
  align-items: center;
}

h1 {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  margin: 0 auto;
  position: absolute;
  padding: 0;
}

img {
  height: 450px;
  display: block;
}

.left-door {
  border: var(--main-frame);
  border-right: 0;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.left-door img {
  border-right: 0;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  animation: right-open 0.3s backwards;
}

.right-door {
  border: var(--main-frame);
  border-left: 0;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.right-door img {
  border-left: 0;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  animation: right-open 0.3s backwards;
}

.joke-display {
  position: absolute;
  background-color: white;
  opacity: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: var(--main-frame);
  height: 100%;
  padding: 1em;
  cursor: pointer;
}

/* animation */

@keyframes display-joke {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes left-open {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes right-open {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

/* OPEN STATES  */
.right-door.open {
  animation: right-open 0.3s forwards;
}

.left-door.open {
  animation: left-open 0.3s forwards;
}

.joke-display.open {
  animation: display-joke 0.3s forwards;
}

/* DAY 5: JEOPARDY CARD FLIP */
body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

div.card {
  font-family: sans-serif;
  position: relative;
  top: 70%;
  width: 400px;
  height: 400px;
  padding: 3rem;
  text-transform: uppercase;
  text-align: center;
  transform-style: preserve-3d;
  background-color: var(--jeopardy-blue);
  color: var(--font-color-main);
  border-radius: 10px;
  transition: 0.2s all;
}

.card-back {
  display: none;
}

div.card:hover {
  transition: 0.2s all;
  transform: rotateY(180deg);
}

div.card:hover .content {
  transition: transform 0.5s;
}

div.card:hover .card-back {
  backface-visibility: visible;
  display: grid;
  place-items: center;
  transform: rotateY(-180deg);
}

div.card:hover .card-front {
  display: none;
  backface-visibility: hidden;
}

/* DAY 6: SANTA PAIR */
div.form-container {
  position: absolute;
  top: 150vh;
  text-align: center;
  background-image: url("https://t3.ftcdn.net/jpg/05/50/94/98/360_F_550949839_0uKeVZlLe8u840Pj2BRryEWpu3TGeH5K.jpg");
  background-size: cover;
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-items: center;
  font-family: inter, sans-serif;

  & input {
    padding: 8px;
  }

  & li {
    list-style-type: none;
    background-color: yellow;
    width: 60%;
    padding: 5px;
    margin: 2px;
    text-transform: capitalize;
  }
}

form.get-pair-form {
  padding: 10px;
  font-size: 15px;

  & label {
    line-height: 20px;
    color: #eee;
  }

  & ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}

div.form-container .paired-people {
  background-color: beige;
  display: grid;
  place-items: center;
  width: 100dvw;
  height: 80dvh;
  display: none;

  & li {
    background-color: coral;
  }
}

/* DAY 8: ANIMATED PROGRESS BAR */
html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --progressbar-bg: lightgrey;
  --start: red;
  --middle: blue;
  --finish: green;
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  padding: 0 20px;
}

div.progress-bar {
  width: 100%;
  height: 15px;
  background-color: var(--progressbar-bg);
  border-radius: 30px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

div.progress-status {
  animation: progressAnimation 5s ease-in infinite;
  border-radius: 30px;
  width: 10%;
  padding-left: 2px;
}

div.progress-status {
  width: 100%;
}

@keyframes progressAnimation {
  0% {
    width: 0;
    background-color: var(--start);
  }

  50% {
    width: 50%;
    background-color: yellow;
  }

  /* make it pause around 80% */
  80% {
    width: 100%;
  }

  100% {
    width: 100%;
    background-color: var(--finish);
  }
}
