@import "../animations/keyframes.css";

:root {
  --radius: 3px;
  --main-color: #5d3fd3;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/xmas-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
}

main {
  display: flex;
  box-shadow: 3px 3px 10px 1px #666;
  border-radius: var(--radius);
  border: 5px dashed pink;
  position: relative;
}

section {
  width: 256px;
  height: 256px;
  text-align: center;
  background-color: white;
  padding: 1em;
}

.right-col {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Courgette";
}

.left-col {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

img {
  border-radius: var(--radius);
  width: 256px;
}

dialog {
  border: none;
  border-radius: var(--radius);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px #666;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  width: 300px;
  /* background: rgb(186, 114, 114); */
  background-color: lightcoral;
}

.form-inner {
  display: flex;
}

label {
  font-family: "Roboto";
  display: block;
  text-align: center;
  margin: 0 auto 1em auto;
  padding: 0 0.2em;
  font-size: 140%;
}

input {
  resize: none;
  border-right: none;
  border: 1px solid #999;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  height: 3em;
  padding: 0.3em;
  width: 100%;
  margin: 0 auto;
  font-family: monospace;
}

button {
  background-color: var(--main-color);
  border: none;
  color: white;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 0 0.6em;
  cursor: pointer;
  font-size: 1.5em;
}

.btn-send {
  width: 25px;
  display: block;
}

:root {
  --progressbar-bg: lightgrey;
  --start: red;
  --middle: blue;
  --finish: green;
}

.progress-bar-container {
  width: 45vw;
  padding: 0 20px;
  position: absolute;
  display: none;
}

div.progress-bar {
  width: 200px;
  height: 15px;
  background-color: var(--progressbar-bg);
  border-radius: 30px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

div.progress-status {
  border-radius: 30px;
  width: 10%;
  padding-left: 2px;
}

div.progress-status {
  width: 100%;
}

.progress-bar-container.displayAnimation {
  animation: progressAnimation 5s ease-in infinite;
  display: block;
}
